@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
.cover {
    background-image: url('../img/Louvre-museum.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0 0 20px 20px; /* Arrondir les coins inférieurs */

    height: 50vh; /* 50% de la hauteur de l'écran */

    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3); /* Ombre pour améliorer la lisibilité du texte */
}
body {
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    color: #212127;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    box-sizing: border-box;
}
.container {
    width: 80%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}
h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
